$main-text-color: #FFFFFF;
$primary-text-color: #666666;
$empty-text-color: #FFFF66;
$card-heading-color:#000000;
$main-font-weight: 400;
$main-heading-font-size: 36px;
$card-description-font-size: 16px;
$card-heading-font-size: 48px;
$card-heading-bonus-font-size: 14px;
$card-weight-font-size:42px;
$main-heading-weight:100;
$default-card-bg-color:#F2F2F2;
$default-border-color:#1698D9;
$hover-border-color:#2EA8E6;
$disabled-border-color:#B3B3B3;
$default-selected-border-color:#D91667;
$hover-selected-border-color:#E52E7A;
$hover-selected-description-color:#E62E7A;
$card-width:320px;
$card-height:480px;

