@import "./vars";
@import "./mixins";
@import "./card";
@import "../components/footer/footer";

.App {
  @extend %flex;
  padding: 36px 5px;
  flex-direction: column;
  min-height: 100vh;
  //background-image: url("../assets/Shadow.png"), url("../assets/Pattern.png");
  background-image: linear-gradient(to top, $card-heading-color,rgba($card-heading-color, 0.01),$card-heading-color), url("../assets/Pattern.png");
  @media (min-resolution: 1.25dppx) {
    background-image: linear-gradient(to top, $card-heading-color,rgba($card-heading-color, 0.01),$card-heading-color), url("../assets/Pattern@3x.png");
  }
  background-repeat: no-repeat, repeat;
  //background-size: cover, 100%;

  &__heading {
    text-align: center;
    color: $main-text-color;
    font-size: $main-heading-font-size;
    font-weight: $main-heading-weight;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0px 1px 1px #000000;
    margin-bottom:24px;
  }

  &__main {
    @extend %flex;
    flex-wrap: wrap;
    width: 100%;
  }
}