.footer {
    text-align: center;
    margin-top: 14px;
    font-size: $card-heading-bonus-font-size - 1;
    color: $main-text-color;
    &--default{
        &::after {
            content: ".";
            color: $default-border-color;
        }
    }
    &--disabled{
        color: $empty-text-color;
    }
    &__btn {
        color: $default-border-color;
        border-bottom: 1px dashed currentColor;
        margin-left: 5px;
        @extend %hover-effect;
        &:hover {
            color: $hover-border-color;
        }
    }
}